@font-face {
    font-family: 'Handwritten Font';
    src: url('fonts/phitradesign\ Handwritten\ Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Handwritten Font', sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/cork.jpg');
}


/* text sizing formatting */

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

u {
    text-decoration: none;
    border-bottom: 0.5px solid #6b6b6b;
}


/* The list of notes */
#notes-list-container {
    position: relative;
    height: 100%;
}

.notes-list-container,
.editor-container {
    flex-basis: 100%;
    margin: 0 5px;
}

@media only screen and (max-width: 380px) {
    .container {
        max-width: 100%;
        height: auto;
        background-size: contain; 
        background-position: center;
    }


    notepad form {
        margin-right: 30px;
    }

    u {
        margin-top: 20px;
    }

    .notes-list ul {
        max-height: 170px;
        overflow-y: auto; /* means i can have a scroll mechanism if list gets too long */
        padding: 0;
    }

    .notepad form label {
        font-size: 18px;
    }

    .notepad form input,
    .notepad form textarea {
        font-size: 14px;
        padding: 5px;
    }
    .backBtn {
        margin-top: 20px;
        margin-bottom: -20px;
    }

    .new-note-button a {
        top: 75%; /* Adjusted top value for lower position */
        opacity: 0.8;
    }    
    
}



@media only screen and (max-width: 1024px) {
    .new-note-button a {
        top: 60%; /* Adjusted top value for lower position */
        opacity: 0.8;
    }    
}

@media only screen and (max-width: 1106px ) {
    .new-note-button a {
        top: 66%; /* Adjusted top value for lower position */
        opacity: 0.8;
    }
}


@media only screen and (max-width: 350px) {
    .backBtn {
        margin-top: 40px;
        margin-bottom: -20px;
    }

    .notepad form input,
    .notepad form textarea {
        font-size: 10px;
        padding: 5px;
    }

    .notepad form textarea {
        height: 100px;
    }

    .notepad form label {
        font-size: 15px;
    }

    .notepad form {
        width: 80%; 
        height: 50%;
        padding: -15px 0 25px 0;
        margin-left: -50px;
    }


    .notes-list ul {
        max-height: 140px;
        overflow-y: auto; /* means i can have a scroll mechanism if list gets too long */
        padding: 0;
    }

    .new-note-button a {
        top: 61%; /* Adjusted top value for lower position */
        opacity: 0.8;
    }    

    .search-container {
        margin-top: -50px; /* Adjusted margin top value for spacing */
    }
    
}

.search-container {
    text-align: right; /* Center the input */
    margin-top: -3px; /* Add margin top for spacing */
    margin-right: 20px;
}

#search-note {
    width: 200px; /* Adjust the width as needed */
    padding: 5px; /* Adjust padding as needed */
    font-family: "Handwritten Font", sans-serif;
    background-color: transparent;
    border: 0.5px solid #6b6b6b;    
}


.notes-list {
    flex: 1;
    padding: 20px;
    margin-top: 50px;
}

.notes-list ul {
    list-style: none;
    height: 210px;
    overflow-y: auto; /* means i can have a scroll mechanism if list gets too long */
    padding: 0;
}

/* the scroller for the list */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #6a4c4c;
}




.icon-svg {
    margin-top: 20px; /* Adjust the margin-top value as needed */
}

.icon-text {
    vertical-align: middle;
}

/* inputs */

.inputs label {
    font-size: 23px;
    display: block;
}

.inputs {
    margin-bottom: 10px;
    background-color: transparent;
}

/* index.js list reference */
.note-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.note-item:hover {
    background-color: #f0f0f0;
}

/* new note button */

.new-note-button a {
    position: absolute;
    bottom: 220px;
    text-decoration: none;
    color: #483838;
    width: 20px;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    margin-left: 15px;
}

#new-note-btn {
    margin-top: 20px;
}


/* svg icon details */
svg {
    width: 25px;
    height: 25px;
    opacity: 0.7;
}

.backBtn svg {
    width: 15px;
    height: 20px;
    fill: white;
    margin-top: 3px;
    margin-left: 2px;
}


/* back button */

.backBtn a {
    background-color: #483838;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    max-height: 25px;
    width: 20px;
    padding: 5px;
    font-size: 15px;
    position: absolute;
    margin-top: 10px;
    margin-right: 50px;
}




/* add note form */

#add-note-form
{
    margin-top: 80px;
}

/*for submit button */
.notepad button {
    text-decoration: none;
    border: none;
    background: none;
    padding: 10px;
    color: #483838;
    cursor: pointer;
}


.notepad {
    flex: 2;
    padding: 10px;
}

.notepad form {
    max-width: 70%;
    margin-left: 50px;
    background-color: transparent;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    margin-top: 80px;
}

.notepad form input,
.notepad form textarea {
    background-color: transparent;
    border-radius: 0px;
    font-family: "Handwritten Font", sans-serif;
    font-size: 12px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.confirm-btn {
    background-color: #483838;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    border: 0.5px solid #6b6b6b;
}
.notepad h2 {
    margin-top: 60px;
    align-items: center;
    margin-bottom: -20px;
}

.notepad h2 {
    margin-top: 60px;
    align-items: center;
    margin-bottom: -20px;
}



/* general container */

.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}

.container {
    background-image: url('images/notepad.png');
    width: 100%;
    height: 450px;
    background-size: contain; /* Ensure the image is scaled to fit the container */
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
}




.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -145px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}